*{
    padding: 0%;
    margin-top: 0%;
    box-sizing: border-box;
}
    body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background:#f0f8ff;
}
.box1, .box2, .box3{
   /* height: 90%;  */
   width: 22.5%;
   background-color:#e28525 ;
   color: #f0f8ff;
   padding: 30px;
}
.box1{
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.box2{
    background: rgb(1, 48, 48);
}
.box3{
    background: rgb(1, 31, 1);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

}
h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 1rem;
}
p{
    width: 24ch;
}
button{
    background: white;
}
button{
    /* background:rgb(2, 63, 63) ; */
    border:solid 2px;
    border-color: #f0f8ff;
    border-radius: 20px;
    padding: 5px 15px;
    min-height: 30px;
    min-width: 120px;
    margin: 50px;
    padding-bottom: 10px;
    cursor: pointer;
}
.my.btn1{
    background-color: #e28525;
}
.my.btn2{
    background-color:  #006970;
}
.my.btn3{
    background-color:#004241;
}
button:hover{
    background:none;
    color: #f2f2f2;
}